node_modules
build
coverage

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Static export
dist

# Frontend assets compiled code
docs/public/hot
docs/public/build
docs/public/assets
docs/node_modules

.TODO.MD

**/.DS_Store
